.loader__overlay {
	position: fixed;
	z-index: 2147483647;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.1) url('../images/ajax-loader.gif') 50% 50% no-repeat;
}

.loader__overlay--hidden {
	display: none;
}

.loader__overlay--active {
	display: block;
}
